/* 
Project Name: AP Art Studios
Client: Myself
Author: Aimy Palogiannidou
*/

/******************************************
/* COLOURS
/*******************************************/

/* add a list of colours used in the project */
$brand-color: #605856;
$secondary-color: #d0ccd0;
$spacing: 20px;
$background: #fbfcff;
$highlight: #ff1c3a;
$shadow-color: #274156;

/******************************************
/* SENSIBLE DEFAULTS                   
/*******************************************/

* {
     box-sizing: border-box;
}
img {
	max-width:100%;
}

/******************************************
/* TYPOGRAPHY
/*******************************************/

/* add type styles here */
html {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 16px;
}

/******************************************
/* LAYOUT                   
/*******************************************/

.site-container {
	max-width: 100%;
	margin: 0 auto;
}

.video-container {
  position: relative;
  // padding: 56% 100% 0 0;
  // height: 0; 
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
  video {
  position: fixed;
  top: 0;
  left: 0;
  // width: 100%;
  // height: 100%;
  filter: brightness(50%);
  z-index: 1;
  }
}

.brand-title {
	z-index: 9999;
	position: absolute;
	top: 26%;
	left: 30%;

	h1 {
	color: white;
	font-family: 'Raleway Dots', cursive;
	letter-spacing: 2px;
	font-size: 5rem;
	text-align: center;
	}

	h2 {
	color: white;
	font-weight: 300;
	text-align: center;
	letter-spacing: 2px;
	}

	.logo {
		width: 150px - ( $spacing * 2 );
		height: 90px;
		position: absolute;
		top: 21%;
		left: -20%;
	}
}

.nav-icon {
	position: absolute;
	left: 88%;
	top: 8%;
	z-index: 9999;
	color: white;
	font-size: 4rem;
	text-decoration: none;
	font-weight: 300;
	transition: transform .45s ease-in-out;
	&:hover {
		transform: scale(1.3,1.3);
	}	
}

.scroll-icon {
		position: absolute;
		left: 49%;
		top: 78%;
		z-index: 9999;
		color: white;
		font-size: 4rem;
		text-decoration: none;
		transition: transform .45s ease-in-out;
		&:hover {
			transform: scale(1.3,1.3);
		}
	}

.site-content {
	position: relative;
	z-index: 9000;
	width: 100%;
	.pinned {
		position: sticky;
		top: 75.12px;
		z-index: 9999;
		.menu {
			text-align: center;
			background-color: rgba(96, 88, 86, 0.6);
			padding: 1.6em;
			display: none;
			width: 100%;
			position: absolute;
			left: 0;
			bottom: 100%;
			z-index: 9999;
			a {
				text-decoration: none;
				display: inline-block;
				width: 16.667%;
				text-align: center;
				color: #fbfcff;
				font-size: 1.3rem;
				letter-spacing: 4px;
				&:hover {
					color: $highlight;
					cursor: pointer;
				}
			}
		}
	}
}

section {
	background-color: $background;
}

p {
	background-color: $background;
	margin: 0;
	text-align: center;
	padding: 4em 3em;
	font-size: 2rem;
}

.text-1 {
	background-color: #d0ccd0;
	text-align: center;
	padding: 5em 0 7em;
	p {
		background-color: #d0ccd0;
		font-size: 2rem;
		padding: 3em 3em;
	}
	a {
		text-decoration: none;
		padding: 1em;
		text-align: center;
		background-color: $shadow-color;
		color: $background;
		font-size: 1.5rem;
		display: inline-block;
		transition: transform .45s ease-in-out;
		&:hover {
			transform: scale(1.08,1.08);
			// font-weight: 400;
		}
	}
}

.text-2 {
	color: $highlight;
	font-size: 2.5rem;
	font-weight: 300;
	letter-spacing: 5px;
}

h3 {
	margin: 0;
	font-weight: 300;
	text-align: center;
	position: absolute;
	left: 45%;
	background-color: $highlight;
	letter-spacing: 5px;
	padding: 0.2em 1.5em;
	color: $background;
	z-index: 9000;
}

.map {
	filter: brightness(0.8);
	// opacity: 0.8;
	display: block;
}

.links {
	border-top: 3px solid $highlight;
	position: relative;
	background: none;
	width: 100%;
	overflow: hidden;
	a {
		// position: absolute;
		// top: 0;
		// left: 0;
		// z-index: 9000;
		// width: 100%;
		// display: block;
		p {
			width: 100%;
			position: absolute;
			color: #333;
			text-decoration: none;
			color: $brand-color;
			font-family: 'Quicksand', sans-serif;
			font-weight: 700;
			letter-spacing: 8px;
			line-height: 1.8em;
			text-align: center;
			padding: 0;
			background: none;
			top: 0;
			left: 0;
			bottom: 0;
			&:hover {
				background-color: rgba(255, 28, 58, 0.5);
			}
		}
		img {
			display: block;
		}
	}
	.photo-gallery {
		width: 17%;
		position: absolute;
		top: 10%;
		left: 25%;
		p {
			padding-top: 1.5em;
			font-size: 1.8rem;
		}
	}
	.map-services {
		width: 24%;
		position: absolute;
		top: 52%;
		left: 45%;
		p {
			padding-top: 2.3em;
			font-size: 2.4rem;
		}
	}
	.web-development {
		width: 24%;
		position: absolute;
		top: 32%;
		left: 75%;
		p {
			padding-top: 1.5em;
			font-size: 1.8rem;		}
	}
	.online-shop {
		width: 16%;
		position: absolute;
		top: 55%;
		left: 24%;
		p {
			padding-top: 0.6em;
			font-size: 1.8rem;
		}
	}
	.art {
		width: 12%;
		position: absolute;
		top: 15%;
		left: 47%;
		p {
			padding-top: 0.5em;
			font-size: 3.4rem;
		}
	}
	.about {
		width: 17%;
		position: absolute;
		top: 44%;
		left: 37%;
		p {
			padding-top: 0.4em;
			font-size: 2.8rem;
		}
	}
	.contact {
		width: 16%;
		position: absolute;
		top: 48%;
		left: 0%;
		p {
			padding-top: 0.9em;
			font-size: 2.2rem;
		}
	}
}

.text-3 {
	position: relative;
	color: $shadow-color;
	font-weight: 300;
	font-size: 2.5rem;
	letter-spacing: 5px;
}

.services {
	border-top: 3px solid $highlight;
	h3 {
		position: absolute;
		left: 40%;
	}
}

.grid-row {
	width: 100%;
	height: 100%;
	background-color: $secondary-color;
	.grid-column {
		width: 50%;
		display: block;
		float: left;
	}
	.text {
		padding: 2em 5em 0;
		display: table;
		position: relative;
		a {
			text-decoration: none;
			color: $brand-color;
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			&:hover {
				ul p {
					color: $highlight;
				}
			}
		}
		ul {
			padding: 5em;
		}
		ul p {
			font-size: 1.8rem;
			font-weight: 400;
			text-align: center;
			padding: 0;
			background-color: $secondary-color;
		}
		li {
			list-style-type: none;
			font-size: 0.9rem;
			font-family: 'Quicksand', sans-serif;
			text-align: center;
			padding-top: 1.1em;
		}
	}
}


.image-container {
	overflow: hidden;
	img {
		display: block;
		filter: brightness(0.8);
		transition: filter, transform .45s ease-in-out;
		&:hover {
			transform: scale(1.15,1.15);
			filter: brightness(1);
			cursor: pointer;
		}
	}
}

.site-footer {

}

/******************************************
/* HELPER CLASSES
/*******************************************/

/* Clearfix */
.clearfix:before,
.clearfix:after {
     content: " ";
     display: table;
}
.clearfix:after {
     clear:both;
}

.is-hidden {
     display: none;
}
.is-visible {
     display: block;
}


/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/




